<!-- <img ng-src="images/background.jpg" alt="background" class="background"> -->
<div class="background">
  <div class="sampleInfo">
    <h3>Welcome to my capstone brochure! I am planning on creating a book club app.</h3>
    <h3>Users will be able to create book clubs - they can be physical book clubs or remote book clubs.</h3>
    <h3>To help users find the book for their club, I will access the Google Books API. Alternatives to figure out later include Amazon or GoodReads.</h3>
    <h3>Users will be able to create events for the book clubs.</h3>
  </div>
</div>
