<h1>Search!</h1>
<div class="submitForm">
  <form ng-submit="view.searchBooks(searchParam)" name="searchForm" class="searchForm">
    <input type="text" name="searchParam" placeholder="Title/Author" ng-model="searchParam" required class="formInput">
    <input type="submit" value="Search Books" class="submitButton">
  </form>
  <div class="results">
    <ul ng-repeat="book in view.data">
      <a href="/#/sample/select/{{book.volumeInfo.industryIdentifiers[0].identifier}}"><li>{{book.volumeInfo.title}}</li></a>
      <li><img ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="Book Cover"></li>
      <li ng-show="book.volumeInfo.averageRating">Rating: {{book.volumeInfo.averageRating}}</li>
      <li ng-show="!book.volumeInfo.averageRating">No rating available</li>
    </ul>
  </div>
</div>
